<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.bakingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_baking_app_launcher"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:node="replace">

        <activity
            android:name=".Activities.MainActivity"
            android:launchMode="singleTop"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.DetailSingleDessertActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".Activities.MainActivity"
            tools:ignore="InnerclassSeparator"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".Activities.DetailStepActivity"
            android:launchMode="singleInstance"
            android:parentActivityName=".Activities.DetailSingleDessertActivity"
            tools:ignore="InnerclassSeparator"
            tools:targetApi="jelly_bean" />

        <receiver
            android:name=".Widget.BakingAppWidget"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />
        </receiver>

        <service
            android:name=".Widget.BakingService"
            tools:ignore="InnerclassSeparator" />
        <service
            android:name=".Widget.BakingAppRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            tools:ignore="InnerclassSeparator" />

        <receiver android:name=".playback.PlayerService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </receiver>
    </application>

</manifest>